.games-section {
  background-color: #f7f7f7;
  padding-top: 50px;
  padding-bottom: 50px;
  background-size: cover;
}

.game-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 80%;
  /* Set the height to your desired value */
  width: 100%;
}

.game-card img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.game-card h3 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.game-card p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}

.game-card a {
  display: block;
  background-color: #007bff; /* richer blue */
  color: #fff;
  padding: 12px 0;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.4);
}

.game-card a:hover {
  background-color: #0056b3;
  box-shadow: 0 6px 12px rgba(0, 86, 179, 0.6);
  text-decoration: none;
}
